.Comt_background{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.Comt_title{
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    background-color: #D9D9D9;

}

.Comt_comments{
    padding: 8px;
    margin-top: 20px;
    width: 100%;
    font-size: 20;
    background-color: #F3F3F3;
}

.Comt_text{
    margin-left: 10px;
}

.Comt_pagebutton{
    width: 75%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.Comt_current{
    margin-right: 15px;
}

.Comt_current button{
    border: 1px black solid;
    background-color: #D9D9D9;
    height: 40px;
    width: 35px;
    line-height: 25px;
    font-size: 25px;
}

.Comt_notcurrrent{
    margin-right: 15px;
}

.Comt_notcurrrent button{
    border: 1px black solid;
    background-color: #ECECEC;
    height: 40px;
    width: 35px;
    line-height: 25px;
    font-size: 25px;
}

