.AdminBodyCssBG{
    background-color: rgb(240, 240, 240);
    
}

.AdminBodyCss{
    margin: 15px auto 0px auto;
    width: 100%;
    
}

.Admin_Mem_TitleText{
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
}

.Admin_Mem_line{
    margin: 8px 0px 15px 0px;
    width: 100%;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    
} 

.Admin_Mem_MemTable{
    /* border: 1px rgb(188, 188, 188) solid; */
    margin: 0 auto;
}

.Admin_Mem_MemTable th:not(th.Admin_Mem_Modify):not(th.Admin_Mem_Delete){
    border: 1px rgb(188, 188, 188) solid;
    padding: 4px 0px 4px 5px ;
}

.Admin_Mem_MemTable td:not(.Admin_Mem_FormTD):not(.Admin_Mem_FormTD td):not(td.Admin_Mem_Modify){
    padding: 0px;
}

.Admin_Mem_FormTD{
    padding: 0px;
}

.Admin_Mem_FormTD td:not(.Admin_Mem_Modify):not(.Admin_Mem_Delete){
    border-bottom: 1px rgb(188, 188, 188) solid;
    border-left: 1px rgb(188, 188, 188) solid;
    border-right: 1px rgb(188, 188, 188) solid;
    padding-left: 5px;
}

td.Admin_Mem_Modify {
    padding-left: 5px;
}


.Admin_Mem_MemTable textarea {
    box-sizing: border-box; /* 确保 textarea 元素的宽度包括内边距和边框 */
    resize: none; /* 禁用 textarea 的调整大小功能 */
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    display: block;
    line-height: 1; /* 设置行高为一行的高度 */
    

}


.Admin_Mem_MemTable textarea:focus{
    outline: none;
    border: none;
}


.Admin_Mem_MemNum{
    width: 9%;
    pointer-events: none;
}

.Admin_Mem_MemName{
    width: 8%;
}

.Admin_Mem_MemID{
    width: 10%;
}

.Admin_Mem_MemEmail{
    width: 16%;
}

.Admin_Mem_MemSex{
    width: 5%;
}

.Admin_Mem_MemAddress{
    width: 14%;
}

.Admin_Mem_MemPhone{
    width: 10%;
}

.Admin_Mem_MemBirth{
    width: 9%;
}

.Admin_Mem_MemAccount{
    width: 8%;
}

.Admin_Mem_MemPwd{
    width: 11%;
}

.Admin_Mem_Modify{
    width: 5%;  
}

.Admin_Mem_Modify button{
    color: white;
}

.Admin_Mem_Delete{
    width: 5%;  
}

.Admin_Mem_Delete button{
    color: white;
}




.Admin_Mer_TitleText{
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
}

.Admin_Mer_line{
    margin: 8px 0px 15px 0px;
    width: 100%;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    
} 

.Admin_Mer_MerTable{
    /* border: 1px rgb(188, 188, 188) solid; */
    margin: 0 auto;
}

.Admin_Mer_MerTable th:not(th.Admin_Mer_Modify):not(th.Admin_Mer_Delete){
    border: 1px rgb(188, 188, 188) solid;
    padding: 4px 0px 4px 5px ;
}

.Admin_Mer_MerTable td:not(.Admin_Mer_FormTD):not(.Admin_Mer_FormTD td):not(td.Admin_Mer_Modify){
    padding: 0px;
}

.Admin_Mer_FormTD{
    padding: 0px;
}

.Admin_Mer_FormTD td:not(.Admin_Mer_Modify):not(.Admin_Mer_Delete){
    border-bottom: 1px rgb(188, 188, 188) solid;
    border-left: 1px rgb(188, 188, 188) solid;
    border-right: 1px rgb(188, 188, 188) solid;
    padding-left: 5px;
}

td.Admin_Mer_Modify {
    padding-left: 5px;
}


.Admin_Mer_MerTable textarea {
    box-sizing: border-box; /* 确保 textarea 元素的宽度包括内边距和边框 */
    resize: none; /* 禁用 textarea 的调整大小功能 */
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    display: block;
    line-height: 1; /* 设置行高为一行的高度 */
    

}


.Admin_Mer_MerTable textarea:focus{
    outline: none;
    border: none;
}


.Admin_Mer_MerNum{
    width: 5%;
    pointer-events: none;
}

.Admin_Mer_MerName{
    width: 12%;
}

.Admin_Mer_MerBrand{
    width: 12%;
}

.Admin_Mer_MerCategory{
    width: 6%;
}

.Admin_Mer_MerSpecification{
    width: 5%;
}

.Admin_Mer_MerUnitprice{
    width: 4%;
}

.Admin_Mer_MerIntro{
    width: 20%;
}

.Admin_Mer_MerAccount{
    width: 4%;
}

.Admin_Mer_Modify{
    width: 4%;  
}

.Admin_Mer_Modify button{
    color: white;
}

.Admin_Mer_Delete{
    width: 4%;  
}

.Admin_Mer_Delete button{
    color: white;
}






.Admin_Order_TitleText{
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
}

.Admin_Order_line{
    margin: 8px 0px 15px 0px;
    width: 100%;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    
} 

.Admin_Order_OrderTable{
    /* border: 1px rgb(188, 188, 188) solid; */
    margin: 0 auto;
}

.Admin_Order_OrderTable th:not(th.Admin_Order_Modify):not(th.Admin_Order_Delete){
    border: 1px rgb(188, 188, 188) solid;
    padding: 4px 0px 4px 5px ;
}

.Admin_Order_OrderTable td:not(.Admin_Order_FormTD):not(.Admin_Order_FormTD td):not(td.Admin_Order_Modify){
    padding: 0px;
}

.Admin_Order_FormTD{
    padding: 0px;
}

.Admin_Order_FormTD td:not(.Admin_Order_Modify):not(.Admin_Order_Delete){
    border-bottom: 1px rgb(188, 188, 188) solid;
    border-left: 1px rgb(188, 188, 188) solid;
    border-right: 1px rgb(188, 188, 188) solid;
    padding-left: 5px;
}

td.Admin_Order_Modify {
    padding-left: 5px;
}


.Admin_Order_OrderTable textarea {
    box-sizing: border-box; /* 确保 textarea 元素的宽度包括内边距和边框 */
    resize: none; /* 禁用 textarea 的调整大小功能 */
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    display: block;
    line-height: 1; /* 设置行高为一行的高度 */
    

}


.Admin_Order_OrderTable textarea:focus{
    outline: none;
    border: none;
}


.Admin_Order_TransNum{
    width: 7%;
    pointer-events: none;
}

.Admin_Order_MemNum{
    width: 7%;
}

.Admin_Order_Receiver{
    width: 6%;
}

.Admin_Order_Shipping{
    width: 6%;
}

.Admin_Order_Address{
    width: 15%;
}

.Admin_Order_ShipState{
    width: 5%;
}

.Admin_Order_PayState{
    width: 8%;
}

.Admin_Order_OrderTotal{
    width: 6%;
}

.Admin_Order_Modify{
    width: 4%;  
}

.Admin_Order_Modify button{
    color: white;
}

.Admin_Order_Delete{
    width: 4%;  
}

.Admin_Order_Delete button{
    color: white;
}
