
body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}   

.BottomBarLogoCss{
    width: 100%;
    display: flex;
    justify-content: center;
    background-size:cover;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.BottomBarLogoCss img{
    min-height: 5%;
    min-width: auto;
    width: 100%;
}
.BottomBarAreaCss{
    height: 468px;
    width: 100%;
    background-color: #484242;
    position: absolute;
    bottom: 0;
    color: white;
    float: inline-end;
    z-index: 1;
}

.BottomText{
    font-size: 14px;
    padding-top:15px;
}

.BottomText a{
    font-weight: lighter;
    text-decoration: none;
    color: #d9bc77;
}
.BottomText ul{
    padding-left: 0;
    list-style-type: none;

}

.BottomText li{
    padding-top:15px;
    
}

.BottomText li :hover{
    color:#f7edd5
}


.CategoryCss{
    background-color: #E8E8E8;
    position: sticky;
    display: flex;
    justify-content: center;
}

.CategoryCss ul{
    display: flex;
    justify-content: center;
    list-style-type:none;
    margin: 1px 0px 0px 0px ;
    font-size: 18px;
    font-weight: lighter;
}

.CategoryCss li{
    padding-right: 20px;
    color: black;
    display: flex;
}
.CategoryCss li a{
    text-decoration: none;
    color:inherit;
    padding: 12px;
}

.CategoryCss li :hover{
    background-color: #D9D9D9;
    color:#a93636;
    
}

.searchCol {
    position: relative;
    display: block;
    align-content: center;
}

.LogoLocation{
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.BottomLogo{
    position: relative;
    height: 40px;
}

.TopBarListCss{
    background-color:#C25B5B;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color:white;
}

.TopBarTextRightCss{
    display: flex;
    justify-content: flex-end;
}

.RightCss{
    padding-top:7px;
    padding-bottom: 7px;
    padding-right:20px;
    position: relative;
    display: flex;
}

.RightCss a{
    text-decoration: none;
    color: inherit;
}

.TopBarTextLeftCss ul{
    padding-top:7px;
    padding-bottom: 7px;
    display: flex;
    list-style-type:none;
    margin: 0 auto;
    
}

.TopBarTextLeftCss li{
    padding-right: 20px;
}

.TopBarTextLeftCss li a{
    text-decoration: none;
    color:inherit;
}

.TopBarTextLeftCss li :hover, .RightCss :hover{
    color: rgb(224, 224, 224);
}

.CartCss{
    position: relative;
    display: flex;
    justify-content: flex-end;
    
}
.CartCss .btn{
    border-radius: 0; /* 将按钮的圆角设置为 0 */
    margin: 0px;
    height: 100%;
}
